<h2 class="titulo">Create Product</h2>
<hr />
<a href="/products">Product List</a>
<hr />



<form action="/form-products" method="post">
    <div class="form-group">
        <label for="code">CODE:</label>
        <input type="number" class="form-control" id="code" name="code" required>
    </div>
    <div class="form-group">
        <label for="title">TITLE:</label>
        <input type="text" class="form-control" id="title" name="title" required>
    </div>
    <div class="form-group">
        <label for="description">DESCRIPTION:</label>
        <input type="text" class="form-control" id="description" name="description" required>
    </div>
    <div class="form-group">
        <label for="price">PRICE:</label>
        <input type="number" class="form-control" id="price" name="price" required>
    </div>
    <div class="form-group">
        <label for="thumbnails">THUMBNAILS:</label>
        <input type="text" class="form-control" id="thumbnails" name="thumbnails" required>
    </div>
    <div class="form-group">
        <label for="stock">STOCK:</label>
        <input type="number" class="form-control" id="stock" name="stock" required>
    </div>

    </div>
    <button type="submit" class="btn btn-success">Enviar</button>
</form>








   
